.flex{display: flex;
  flex-direction: row;
  color: mediumblue;
}

.card__content-tag-item {
  display: flex;
  color: #1d20c8;
  font-size: 20px auto;
}

.card__content-tag-item--last {
  display: row;
  margin-left: 75%;
  color: #1d20c8;
}

.relative {
  max-width: 70%;
  position: relative;
}

.relative__img {position: relative;
  z-index: 100;
  width: 50%;
  top: 200px;
  margin: 20% 100% auto;
}

.absolute {
  position: absolute;
  width: 120%;
  height: 45%;
  top: 110%;
    background-color: rgb(68, 0, 255);
    z-index: 0;
}

.ttl{position: absolute;
  top: 100%;
  font-size: 50px;

}
