
h2{
  font-style: italic;  
}
.flex{display: flex;
  flex-direction: row;
}

.a{color: rgb(37, 167, 174);

}
.menu {
  display: row;
  margin-left: 71%;
  color: hsla(240, 1%, 41%, 0.881);
}

.relative {
  max-width: 100%;
  position: relative;
}

.relative__img {position: relative;
  z-index: 1;
  width: 50%;
  margin: 1% 50%;
}

.absolute {
  position: absolute;
  width: 600%;
  height: 45%;
  top: 70%;
    z-index: 110;
    margin-left: 37%;
    color: fuchsia;
}

.absolute2{position: absolute;
  width: 120%;
  height: 45%;
  top:80%;
  margin-left: 33%;
  z-index: 120;
  color: hsla(240, 1%, 41%, 0.881);
}
.ttl{position: absolute;
  top: 50%;
  font-size: 50px;
 margin-left: 30%;
 z-index: 110;
 font-style: italic;
 color: fuchsia;
}
.flex2{
  display: flex
  flex-direction: column;
  margin-left: 30%;
}

h3{
  color: fuchsia;
}



h4{
 font-size: 20px; 
 margin: 1%;
}

.list {
  border-bottom: 0ch;
  list-style: none
}

.item {
  padding: 10px 0;
  line-height: 1.5em;
}

.b{
      color: aliceblue;
      background: #d70d97;
      border-radius: 50px;
    }

.ttl3{max-width: 50%;
position: relative;

}

h5{margin-left: 70%;
  display: flex;
    color: fuchsia;
}
.tech{position: relative;
  color: hsla(240, 1%, 41%, 0.881);
  margin-left: 60%;
  font-size: 25px;
}

.setumei{position: absolute;
 margin: 5% 35%;
color: hsla(240, 1%, 41%, 0.881);
}

.setumei2{position: absolute;
margin: 15% 35%;
  color: hsla(240, 1%, 41%, 0.881);
}

.relative2__img{
  width:35%;
  margin-left:  80%;
}

.ttl4{
max-width: 100%;  
}
h6{
  margin-left: 60vh;
    display: flex;
    color: fuchsia;
}
.servicettl {
  margin-left: 60vh;
  color: hsla(240, 1%, 41%, 0.881);
  margin-left: 60vh;
  font-size: 25px;
}

.box__A{display: flex;
flex-direction: row;}



.relative3__img {
  width: 2%;
  margin-left: 20%;
  position: relative;
}

.box1{
  position: relative;
    margin-left: 10%;
    width: 30%;
    height: 50vh;
    background: #d70d97
  
  }

  .box2{
      position: relative;
        
        width: 30%;
        height: 50vh;
        background: #a6297e
  }

.box3{position: relative;
  
  width: 30%;
  height: 50vh;
  background: #401e35

}

.kyoiku{
  position: absolute;
 margin: 55% 40%;
 color: #fff;
}

.sample{
  color: #fff;
  position: absolute;
    margin: 60% 15%;
}

.relative3__img{
 position: absolute; 
  width: 45%;}


.flex__item {
  display: flex;
  justify-content: space-between;
}
.blogttl{
  margin: 10vh;
}

.blogA{margin-left: 80vh;
  display: flex;
  color: fuchsia;

}
.blogB {
  margin-left: 80vh;
    color: hsla(240, 1%, 41%, 0.881);
   
    font-size: 25px;
 

}

.practice__card {
  width: 30%;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}
.card__img{position: relative;

}

.card__img img {
  width: 80%;
  z-index: 10px;
}

.card__img p{position: absolute;
  padding: 5px 10px;
  background: #c41fa3;
  margin: 10px;
  display: inline-block;
  color: #fff;
  font-size: 14px;
  top: 10px;
  left: 0;
  z-index: 100px;
}

.card__content {
  padding: 15px 25px;
}

.card__ttl {
  font-size: 18px;
  margin-bottom: 30px;
  font-weight: 400;
}

.tag {
  font-size: 14px;
  
}

.card__tag {
  display: inline-block;
  color: #888888;
  margin-left: 10px;
}

.card__date {
  display: inline-block;
  margin-left: 80%;
  color: #888888;
}

.example {
  position: relative;
  
}

.itiran{
  color: #d70d97;
  background-color: #fff;
  border: solid 2px #d70d97;
  border-radius: 10px;
  width: 100px;
    height: 20px;
    margin: 2% 50%;
}

.flex4{margin-left: 40%;

}
th,
td {
  border: solid 1px;
}

table {
  border-collapse: collapse;
}

th{background-color: #888888;
 color: rgb(55, 53, 53);
  width: 250px;
    height: 60px;
    font-weight: bold;
    text-align: left;
}

td{width: 300px;

}
.imgflex {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.flex5{
  position: relative;
  margin-top: 10vh;
  width: 50%;
}
.flex5 p{
position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: #fff;
  font-size: 30px;
}
.flex6{
  position: relative;
  margin-top: 10vh;
  width: 50%;
}

.flex6 p{
  position: absolute;
  top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: #fff;
  font-size: 30px;
}

.flex5 img{
  width: 100%

}
.flex6 img{
  width: 100%;
}

.flex7 p{margin-left: 60vh;
  color: hsla(240, 1%, 41%, 0.881);
  margin-left: 65vh;
  font-size: 20px;

}
.button02 a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5% 35%;
  padding: 1em 2em;
  width: 300px;
  color: #333;
  font-size: 18px;
  font-weight: 700;
  background-color: #cccccc;
  border-radius: 50vh;
}

.button02 a::after {
  content: '';
  width: 5px;
  height: 5px;
  border-top: 3px solid #333333;
  border-right: 3px solid #333333;
  transform: rotate(45deg);
}

.button02 a:hover {
  text-decoration: none;
  background-color: #bbbbbb;
}

small{margin-left: 60vh;
  color: hsla(240, 1%, 41%, 0.881);
  margin-left: 65vh;
  font-size: 20px;
  background-color: #bbbbbb;
  width: 100%;
}